.myimage {
  display: block;
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.text {
  text-align: justify;
  font-size: 20px;
  background-color: beige;
  padding: 10px 20px;
  margin: 50px;
  border-style: double;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.who {
  background-color: #f1d0b6;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  border-style: double;
  border-width: 20px;
  border-color: black;
  border-radius: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Fonts;
  src: url(../Fonts/Satisfy/Satisfy-Regular.ttf);
}

.blogs {
  background-color: #f1d0b6;
  margin-left: 50px;
  margin: 50px;
  font-family: Fonts;
  src: url(../Fonts/Satisfy/Satisfy-Regular.ttf);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 50px;
  border-style: double;
  border-width: 10px;
}
.Hlink {
  text-decoration: none;
  color: black;
}
.Hlink:hover {
  background-color: rgba(248, 248, 223, 0.055);
  padding: 10px 10px;
  border-radius: 20%;
  color: black;
}
.linkP{
  color: #8c1c13;
  font-weight: bold;

}
#check {
  display: none;
}
#check:checked ~ ul {
  left: 0;
}

@media screen and (max-width: 600px) {
  .burger-button {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    background-color: rgba(87, 85, 85, 0.541);
    height: 100vh;
    text-align: center;
    top: 10vh;
    left: -120%;
  }
  nav ul li {
    display: block;
    padding: 30px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  
.blogs {
  background-color: #f1d0b6;
  margin-left: 50px;
  margin: 50px;
  font-family: Fonts;
  src: url(../Fonts/Satisfy/Satisfy-Regular.ttf);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  border-style: double;
  border-width: 10px;
}
  .myimage {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  
}}
@media screen and (max-width: 896px) {
  footer {
    height: 50vh;
}
}
@media screen and (max-width: 844px) {
  footer {
    height: 100vh;
    padding-top: 10px;
}}
@media screen and (max-width: 1024px) {
  footer {
    height: 30vh;
}
}
@media screen and (max-width: 720px) {
  footer {
    height: 80vh;
}
}
@media screen and (max-width: 653px) {
  footer {
    height: 100vh;
}
.myimage {
  display: block;
  height: 300px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.text {
  text-align: justify;
  font-size: 15px;
  background-color: beige;
  padding: 5px 10px;
  margin: 30px;
  border-style: double;
  border-width: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}}