.Hlink {
  text-decoration: none;
  color: black;
}
.Hlink:hover {
  background-color: rgba(248, 248, 223, 0.055);
  padding: 10px 30px;
  border-radius: 20%;
  color: black;
}
.prev {
  float: left;
  background: #8c1c13;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.next {
  float: right;
  background: #8c1c13;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.blogs {
  background-color: #f1d0b6;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  font-family: Fonts;
  src: url(/2126012_WSOA3028A_Website/Fonts/Satisfy/Satisfy-Regular.ttf);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  
  border-style: double;
  border-width: 10px;
}
.polaroid {
  display: inline-block;
  margin-left: 40px;
  width: 30%;
  height: 30%;
  margin-left: 30px;
  background-color: rgb(245, 241, 240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.container {
  font-family: Fonts;
  src: url(/2126012_WSOA3028A_Website/Fonts/Satisfy/Satisfy-Regular.ttf);
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
}
.blog1 {
  background-color: #f1d0b6;
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-indent: 40px;
  letter-spacing: 2px;
}
.blog2 {
  background-color: #f1d0b6;
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  text-indent: 50px;
  letter-spacing: 2px;
}
.blog4{
  background-color: #f1d0b6;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}
em {
  font-size: 100px;
  text-indent: auto;
}
.Bpics {
  height: 100%;
  width: 100%;
  border-style: double;
}
.Dera{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.newspaper{
  column-count: 3;
  column-gap: 40px;
  column-rule: 1px solid lightblue;

}
@media screen and (max-width:600px) {
  .blog1 {
    background-color: #f1d0b6;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 15px;
    text-indent: 40px;
    letter-spacing: 2px;
  }
  .blog2 {
    background-color: #f1d0b6;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 15px;
    text-indent: 50px;
    letter-spacing: 2px;
  }
  .blogs {
    background-color: #f1d0b6;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    font-family: Fonts;
    src: url(../Fonts/Satisfy/Satisfy-Regular.ttf);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-style: double;
    border-width: 10px;
}
.prev {
  float: left;
  background: #8c1c13;
  color: white;
  text-decoration: none;
  font-size: 10px;
  padding: 5px;
}
.next {
  float: right;
  background: #8c1c13;
  color: white;
  text-decoration: none;
  font-size: 10px;
  padding: 5px;


}
.Dera{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.blog4{
  background-color: #f1d0b6;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-size: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}
em {
  font-size: 50px;
  text-indent: auto;
}
.video{
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}
}
@media screen and (max-width: 1024px){
  .blog1 {
    background-color: #f1d0b6;
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    text-indent: 40px;
    letter-spacing: 2px;
  }
  .blog2 {
    background-color: #f1d0b6;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
    text-indent: 50px;
    letter-spacing: 2px;
  }
  .blogs {
    background-color: #f1d0b6;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    font-family: Fonts;
    src: url(../Fonts/Satisfy/Satisfy-Regular.ttf);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-style: double;
    border-width: 10px;
}
}
@media screen and (max-width: 896px) {
  footer{
    height: 100vh;
  }
}